/* glob */

html{
  box-sizing: border-box;
}

*,
*::before,
*::after{
  box-sizing: inherit;
}

.list_reset{
  margin: 0;
  padding: 0;
  list-style: none;
}

.container{
  width: 850px;
  margin: 0 auto;
}

@font-face {
  font-family: 'Heebo';
  src: local("Heebo-Light"), url("../fonts/Heebo-Light.woff2") format("woff2"),
  url("../fonts/Heebo-Light.woff") format("woff");
  font-weight: 300;
  font-style:normal;
  font-display: swap;
}

@font-face {
  font-family: 'Heebo';
  src: local("Heebo-Regular"), url("../fonts/Heebo-Regular.woff2") format("woff2"),
  url("../fonts/Heebo-Regular.woff") format("woff");
  font-weight: 400;
  font-style:normal;
  font-display: swap;
}

@font-face {
  font-family: 'Heebo';
  src: local("Heebo-Medium"), url("../fonts/Heebo-Medium.woff2") format("woff2"),
  url("../fonts/Heebo-Medium.woff") format("woff");
  font-weight: 500;
  font-style:normal;
  font-display: swap;
}

@font-face {
  font-family: 'Heebo';
  src: local("Heebo-Bold"), url("../fonts/Heebo-Bold.woff2") format("woff2"),
  url("../fonts/Heebo-Bold.woff") format("woff");
  font-weight: 600;
  font-style:normal;
  font-display: swap;
}

@font-face {
  font-family: 'Heebo';
  src: local("Heebo-ExtraBold"), url("../fonts/Heebo-ExtraBold.woff2") format("woff2"),
  url("../fonts/Heebo-ExtraBold.woff") format("woff");
  font-weight: 700;
  font-style:normal;
  font-display: swap;
}

body{
  font-family: Heebo, sans-serif;
}

/* header */

.header{
  display: flex;
  width: 1150px;
  margin: 0 auto;
  padding: 0 60px;
  justify-content: flex-end;
  margin-bottom: 140px;
  margin-top: 27px;
}

.header__link{
  text-decoration: none;
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 29px;
  text-align: right;
  color: #000000;
}

.header__link:not(:last-child){
  margin-right: 33px;
}

/* resume_section */

.main__resume{
  display: flex;
  margin-bottom: 70px;
  align-items: flex-start;
  justify-content: space-between;
}

.resume__h2{
  margin: 0;
  margin-bottom: 40px;
  width: 500px;
  min-height: 105px;
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 60px;
  color: #21243D;
}

.resume__p{
  margin: 0;
  margin-bottom: 40px;
  width: 500px;
  min-height: 60px;
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #21243D;
}

.resume__btn{
  padding: 10px 20px;
  border: 0;
  background: #FF6464;
  border-radius: 2px;
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 29px;
  color: #FFFFFF;
}

/* Recent posts */

.main__recent-posts{
  padding: 15px 0 30px 0;
  margin-bottom: 20px;
  background-color: #EDF7FA;
}

.recent-posts__head{
  display: flex;
  justify-content: space-between;
}

.recent-posts__h2{
  margin: 0;
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 60px;
  color: #21243D;
}

.recent-posts__link{
  margin: auto 0;
  text-decoration: none;
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #00A8CC;
}

.recent-posts__list{
  display: flex;
  justify-content: space-between;
}

.recent-posts__li{
  width: 418px;
  min-height: 295px;
  padding: 24px 23px;
  background: #FFFFFF;
  box-shadow: 0px 4px 10px rgba(187, 225, 250, 0.25);
  border-radius: 4px;
}

.recent-posts__h3{
  margin: 0;
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 38px;
  color: #21243D;
}

.recent-posts__span{
  display: inline-block;
  margin-bottom: 10px;
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #21243D;
}

.recent-posts__p{
  margin: 0;
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #21243D;
}

/* featured works */

.main__featured-works{
  margin-bottom: 134px;
}

.featured-works__h2{
  margin: 0;
  padding-bottom: 15px;
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 60px;
  color: #21243D;
}

.featured-works__li{
  display: flex;
  padding-bottom: 30px;
  border-bottom: 1px solid #E0E0E0;
}

.featured-works__li:not(:last-child){
  margin-bottom: 30px;
}

.featured-works__img{
  margin-right: 20px;
}

.featured-works__h3{
  margin: 0;
  margin-bottom: 20px;
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 44px;
  color: #21243D;
}

.featured-works__year{
  margin-right: 26px;
  padding: 0 5px 0 10px;
  background: #142850;
  border-radius: 16px;
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 60px;
  color: #FFFFFF;
}

.featured-works__type{
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 29px;
  color: #8695A4;
}

.featured-works__p{
  margin: 0;
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #21243D;
}

/* footer */

.footer__icons{
  display: flex;
  justify-content: center;
  margin-bottom: 26px;
}

.footer__icon:not(:last-child){
  margin-right: 35px;
}

.footer__description{
  display: block;
  margin: 0 auto;
  margin-bottom: 54px;
  text-align: center;
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #21243D;
}
